@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=JetBrains+Mono:wght@400;500&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Space Grotesk", sans-serif;
  --font-mono: "JetBrains Mono", monospace;

  --color-dmk-bg: #0A0A0F;
  --color-dmk-card: #14141A;
  --color-dmk-text: #F0F0F5;
  --color-dmk-muted: #9494A8;
  --color-dmk-accent: #00F0FF;
  --color-dmk-accent-soft: #00B8CC;
  --color-dmk-border: #2A2A3A;
}

body {
  background-color: var(--color-dmk-bg);
  color: var(--color-dmk-text);
  font-family: var(--font-sans);
}
